/Library
/Logs
/AssetsPabloFrancesMoya.zip
/MerryYellow.CodeAssist.Editor.csproj
/My Proyect (4).sln
/Packages
/ProjectSettings
/Temp
/UserSettings
/obj
/.vs
/.vsconfig
/Assembly-CSharp.csproj
/My project (4).sln